name: Build Binaries

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/ci-binary.yml
    with:
      upload_release: ${{ startsWith(github.ref, 'refs/tags/') }}
    secrets: inherit
